<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>My Shopping List</title>
    </head>
        <img src="../static/Shopping_List.png" width="50" class="mx-auto mt-5" alt="Shopping List">
    <h2 class="text-slate-700 font-bold text-3xl mx-auto max-w-fit mt-5 mb-5"> My Shopping List</h2>

    <body class="bg-slate-400 mx-auto">
        <h3 class="text-white font-bold text-xl mx-auto max-w-fit mt-3 mb-1"> Add a new item</h3>
        <div class="grid grid-flow-col gap-x-10 justify-items-start">
            <form action="/add_item" method="post" class="max-w-fit lg:flex sm:flex-none content-between justify-items-center mx-auto mb-5">
                <div class="grid-flow-col">
                    <input class="input shadow-md  m-1 p-1" name="name" placeholder="enter a name">
                    <div class="text-pink-200">{% if errorName %} {{errorName}} {% endif%}</div>
                </div>
                <div class="grid-flow-col">
                    <input class="input shadow-md  m-1 p-1" name="price" placeholder="enter a price">
                    <div class="text-pink-200">{% if errorPrice %} {{errorPrice}} {% endif%}</div>
                </div>
                <div class="grid-flow-col">
                    <input class="input shadow-md  m-1 p-1" name="discount" placeholder="enter current discount">
                    <div class="text-pink-200">{% if errorDiscount%} {{errorDiscount}} {% endif%}</div>
                </div>
                <div class="grid-flow-col">
                    <button class="bg-white text-black font-semibold w-32 hover:bg-pink-400 hover:text-white hover:border-opacity-100 hover: border-white p-1 m-1" type="submit">Add an item</button>
                </div>
            </form>
        </div>

        <div class="flex-grow border-t border-pink-400"></div>
        
        <div class="max-w-screen-md mx-auto rounded-sm shadow-md px-8 pb-8 m-5 bg-slate-500 pt-4">
            <img class="mx-auto my-2" src="../static/Shopping_Bag.png" width="50">
            <h1 class="font-bold text-white text-xl max-w-fit mx-auto">Items in your bag</h1>
            <div class="border-t border-dotted my-4"></div>
            {% if records %}
            <div class="grid grid-flow-col gap-x-10 justify-items-start">
                <div class="grid-flow-col">
                    <div class="grid col-auto text-pink-400 font-bold my-5 min-h-10">Name</div>
                    {% for record in records %}
                    <div class="grid col-auto text-left text-white my-5 font-bold pt-1 pb-1 min-h-8">{{record.name}}</div>
                    {% endfor %}
                </div>

                <div class="grid-flow-col">
                    <div class="grid col-auto text-pink-400 font-bold my-5 min-h-10">Price</div>
                    {% for record in records %}
                    <div class="grid col-auto text-left text-white  my-5 pt-1 pb-1 min-h-8">£{{'%0.2f' | format(record.price)}}</div>
                    {% endfor %}
                </div>

                <div class="grid-flow-col">
                    <div class="grid col-auto text-pink-400 font-bold my-5 min-h-10"> Discount</div>
                    {% for record in records %}
                    <div class="grid col-auto my-5 pt-1 pb-1 text-white min-h-8">{{record.discount*100 | int }}%</div>
                    {% endfor %}
                </div>
                <div class="grid-flow-col">
                    <div class="grid col-auto text-pink-400 font-bold my-5 min-h-10">Discounted price</div>
                    {% for record in records %}
                    <div  class="grid col-auto  my-5 bg-pink-300 p-1 px-2 min-h-8"> Your price £{{'%0.2f' | format(record.price - (record.price *
                        record.discount) | float)}}</div>
                    {% endfor %}
                </div>
                <div class="grid-flow-col">
                    <div class="grid col-auto text-pink-400 font-bold my-5 min-h-10"> Remove item</div>
                    {% for record in records %}
                        <form action="/delete" method="post"><input type="hidden" name="id" value="{{record.id}}">
                            <button type="submit" class="grid col-auto my-3 py-1 min-h-8 justify-items-center justify-around">
                                <img src="../static/delete-icon.png" width="30">
                            </button>
                        </form>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <h3 class="text-white max-w-fit mx-auto"> You currently have no items in your shopping list</h3>
            {% endif %}
        </div>
        
        <!-- <div class="flex-grow border-t border-pink-400"></div> -->
        {% if total %}
        <div class="mx-auto max-w-screen-md bg-white">
            <div class="grid grid-flow-col gap-x-20 justify-items-start px-10 py-5">
                <div class="col-auto">
                    <div> 
                        Total Cost
                    </div>
                    <div class="font-bold">
                        £{{'%0.2f'| format(total)}}</div>
                    </div>
                <div>
                    <div> 
                        Total Paid 
                    </div>
                    <div class="font-bold">
                        £{{'%0.2f'| format(total_paid)}}
                    </div>
                </div>
                <div>
                    <div>
                        Total Discount
                    </div>
                    <div class="font-bold">
                    {{total_disc}}%
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </body>

</html>